<div class="container mb-1"> <!-- Footer container margin de 1 -->
  <div class="row justify-content-center">
    <div class="col-3 d-flex justify-content-end align-items-center">
      <img src="<%= image_path ('energy-bar')%>" alt="" id="energy-bar">
    </div>
    <div class="col-5 d-flex justify-content-start align-items-center">
      <div class="resource-bar d-flex justify-content-evenly align-items-center">
        <div>
          <p class="m-0" style="font-size: 1.7em;"><i class="fa-solid fa-tree fa-lg" style="color: #372E3D"></i>  75</p>
        </div>
        <div>
          <p class="m-0" style="font-size: 1.7em;"><i class="fa-solid fa-burger fa-lg" style="color: #372E3D"></i>  113</p>
        </div>
        <div>
          <p class="m-0" style="font-size: 1.7em;"><i class="fa-solid fa-gem fa-lg" style="color: #372E3D"></i>  56</p>
        </div>
        <div>
          <p class="m-0" style="font-size: 1.7em;"><i class="fa-solid fa-coins fa-lg" style="color: #372E3D"></i>  56</p>
        </div>
      </div>
    </div>
  </div>
</div>
