<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Log in", new_user_session_path %>
<li><a class="" href="<%= destroy_user_session_path %>" data-turbo-method="delete">Log out</a></li>
<%= link_to "Town",  current_user ? current_user.towns[0] : "#" %>
<%= link_to "Profile",  current_user ? user_profile_path(current_user.username) : "#" %>
