<div class="conteneur-bleu" style="background-image: url('<%= asset_path ('box-blue.png')%>'); background-size: cover;">
  <div class="d-flex justify-content-center align-items-end" style="background-image: url('<%= asset_path (@battle.image_url)%>'); background-size: cover; width: 65%; aspect-ratio: 904/512;
  border-radius: 5px; border: 2px solid rgba(217, 199, 189, 1) ">
    <div class="loading_box" style="position: relative; bottom: 10%;">
      <input id="funky" type="checkbox">
      <label for="funky">
        <div class="loading_button">
          <span><i class="icon fa-solid fa-hand-fist"></i> <span>Simulate Battle</span></span>
          <span class="downloading">In progress...</span>
          <i class="icon d_icon fa-solid fa-skull"></i>
          <a href=<%=battle_path(@battle)%>><i class="icon complete ion-checkmark-round"></i></a>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
          <div class="loading_button__bar"></div>
        </div>
      </label>
    </div>
  </div>
</div>
