.container {
  position: absolute;
  bottom: 1%;
}

.button-icon {
  width: 7vw;
  height: 15vh;
  object-fit: cover;
}

#energy-bar {
  width: 95%;
  aspect-ratio: 1300/300;
  background-size: cover;
}

.resource-bar {
  width: 95%;
  height: 70%;
  background-color: rgba(217, 199, 189, 0.7);
  border-radius: 3px;
}

.progress {
  margin: 10px;
}

.progress-container {
  height: 41%;
  aspect-ratio: 1020/125;
  background-color: rgba(217, 199, 189, 0.0);
  border-radius: 1px;
}
