.container {
  position: absolute;
  bottom: 1%;
}

.button-icon {
  width: 7vw;
  height: 15vh;
  object-fit: cover;
}

#energy-bar {
  width: 95%;
  height: 70%;
  background-size: cover;
}

.resource-bar {
  width: 95%;
  height: 70%;
  background-color: rgba(217, 199, 189, 0.7);
  border-radius: 10px;
}
