*{
  box-sizing:border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loading_box{
  .loading_button{
    border:2px solid rgba(217, 199, 189, 1);
    width:200px;
    text-align:center;
    height:48px;
    padding: 2px 4px;
    border-radius:100px;
    color: rgba(217, 199, 189, 1);
    margin:0 auto;
    transition:all .3s;
    position:relative;
    z-index:3;
    line-height:42px;
    text-transform:uppercase;
    font-weight:700;
    font-size:14px;
    &:hover{
      box-shadow:0px 0px 0px 6px rgba(0, 0, 0, 0.2);
      background:rgba(217, 199, 189, 1);
      color: #382C3D;
      span{
        i{
          margin-right:10px;
        }
        .large{
          //opacity:.3;
        }
      }
    }
    &:active{
      box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    }
    //letter-spacing:1px;
    &__bar{
      width:0%;
      position:absolute;
      height:8px;
      top:4px;
      border-radius:100px;
      background: -webkit-linear-gradient(left, rgba(217, 199, 189, 1) 0%, rgba(217, 199, 189, 1) 100%);
    }
  }
  input{
    display:none;
  }
  input:checked + label .loading_button span{
    span{
      opacity:0;
      left:40px;
    }
    i{
      opacity:0;
      left:-40px;
    }
  }
  input:checked + label .loading_button{
    animation:base .96s .12s cubic-bezier(0.755, -0.245, 0.175, 1.000) forwards, pulse .5s forwards,final .3s 3.6s forwards;
    .downloading{
      animation:pop .2s 1s forwards,popout .2s 3.4s forwards;
    }
    .d_icon{
      animation:d_icon .6s 1s forwards,wobble .4s 3.58s forwards,iconout .14s 4.45s forwards;
    }
    .complete{
      animation: d_icon .14s 4.55s forwards;
    }
    .point{
      @for $i from 1 through 36{
        &:nth-of-type(#{$i}){
          animation: dot .14s (($i / 260) + 4s) forwards;
        }
      }
    }
    &:hover{
      box-shadow:none;
    }
    &__bar{
      //box-shadow: 0px 0px 24px 6px rgba(0, 255, 202, 0.13);
      animation: bar 2.6s 1.14s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards,barout .3s 3.2s forwards;

    }
  }
  label{
    cursor:pointer;
    .downloading{
      position:absolute;
      left:0;
      right:0;
      margin:auto;
      top:28px;
      opacity:0;
      font-size:12px;
    }
    .point{
        opacity: 0;
        width: 2px;
        height: 6px;
        transform-origin: 60px 0px;
        background: rgba(217, 199, 189, 1);
        border-radius: 10px;
        position: absolute;
        left: -11px;
        top: 50px;
      @for $i from 1 through 36{
        &:nth-of-type(#{$i}){
          transform:rotate($i * 10deg)
        }
      }
    }
    .complete{
      position:absolute;
      left:0;
      right:0;
      margin:auto;
      top:50%;
      z-index:2;
      transform:translateY(-50%) scale(0);
      font-size:32px;
    }
    .d_icon{
      position:absolute;
      left:0;
      right:0;
      margin:auto;
      top:50%;
      z-index:2;
      transform:translateY(-50%) scale(0);
      font-size:32px;
    }
    span{
      opacity:1;
      transition:all .18s;
      position:relative;
      top:-3px;
      i{
        font-size:22px;
        margin-right:6px;
        position:relative;
        left:0;
        transition:all .2s;
        top:3px;
      }
      span{
        left:0;
        top:0px;
        transition:all .2s;
      }
      .large{
        position:absolute;
        opacity:0;
        transition:all .3s .1s;
        left:-59px;
        top:-21px;
        font-size:60px;
      }
    }
  }
}

// Animations

@keyframes base{
  0%{border:none;}
  50%{width:20px;height:40px;background:rgba(217, 199, 189, 1);height:16px;border:none;}
  75%{background: rgba(0, 0, 0, 0.34);border:none;}
  76%{width:405px;height:16px;background: rgba(0, 0, 0, 0.34);border:none;}
  88%{width:384px;height:16px;background: rgba(0, 0, 0, 0.34);border:none;}
  100%{width:400px;height:16px;background: rgba(0, 0, 0, 0.34);border:none;}
}

@keyframes bar{
  0%{}
  100%{width:98%;}
}

@keyframes pulse{
  0%{
    box-shadow:0px 0px 0px 6px rgba(0, 0, 0, 0.08);
  }
  100%{
    box-shadow:0px 0px 0px 1920px rgba(0, 0, 0, 0);
  }
}

@keyframes pop{
  0%{}
  100%{opacity:1;
    top:23px;}
}
@keyframes popout{
  0%{opacity:1;top:23px;}
  100%{opacity:0;
    top:28px;}
}
@keyframes barout{
  0%{}
  100%{opacity:0;}
}
@keyframes final{
  0%{background: rgba(0, 0, 0, 0.34)}
  50%{background: rgba(0, 0, 0, 0.34);width:100px;height:100px;box-shadow:none;}
  100%{width:100px;height:100px;background:none}
}

@keyframes d_icon{
  0%{transform:translateY(-50%) scale(0);}
  25%{transform:translateY(-50%) scale(1.2);}
  50%{transform:translateY(-50%) scale(.9);}
  75%{transform:translateY(-50%) scale(1.1);}
  100%{transform:translateY(-50%) scale(1);}
}

@keyframes iconout{
  0%{transform:translateY(-50%) scale(1);}
  100%{transform:translateY(-50%) scale(0);}
}

@keyframes dot{
  0%{opacity:0;}
  100%{opacity:1;}
}

@keyframes wobble{
  0%{transform:translateY(-50%) scale(1);}
  25%{transform:translateY(-50%) scale(1.2);}
  50%{transform:translateY(-50%) scale(0.9);}
  75%{transform:translateY(-50%) scale(1.1);}
  100%{transform:translateY(-50%) scale(1);}
}
